.registrationForm {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  
  .registration {
    align-self: center;
    color: gray;
  }
  
  .btnPanel {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }
  
  .link {
    display: contents;
  }
  