.registrationForm {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  
  .registration {
    align-self: center;
    color: gray;
  }
  
  .btnPanel {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }
  
  .link {
    display: contents;
  }
  
  .buttonStandart {
    width: auto;
    padding: 14px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color, 0.2s;
  }
  
  .buttonStandart:hover {
    background-color: antiquewhite;
    transition: background-color, 0.2s;
  }  